/**
 * Created by Naresh Chakilam on 2/9/17.
 */



$brand-magenta:             #e20074 !default;
$dark-magenta:              #ba0060 !default;
$very-dark-magenta:         #a10053 !default;

$green:                     #09b119 !default;

$brand-primary:             $brand-magenta;
$brand-success:             $green;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
